<a href="https://colab.research.google.com/github/AmeyChavan-Org/Data_Mining/blob/main/Ass3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/real.xlsx - real.csv')
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

1. Find out the maximum and minimum price of the flat.

In [ ]:
max_price = df['price'].max()
min_price = df['price'].min()

print("MAX Price of Flat : ",max_price)
print("MIN Price of Flat : ",min_price)

MAX Price of Flat :  884790
MIN Price of Flat :  1551

2. Find out the maximum and minimum price of the flats in each range, like 1 bedroom, 2 bedrooms and 3 bedrooms and so on.

In [ ]:
from pandas.io.stata import max_len_string_array
bedroom_groups = df.groupby('beds')

for name, group in bedroom_groups:
  max_price = group['price'].max()
  min_price = group['price'].min()
  print("Bedrooms : ",name)
  print("Max Price of Flat : ",max_price)
  print("Min Price of Flat : ",min_price)

Bedrooms :  0
Max Price of Flat :  680000
Min Price of Flat :  4897
Bedrooms :  1
Max Price of Flat :  210944
Min Price of Flat :  48000
Bedrooms :  2
Max Price of Flat :  575000
Min Price of Flat :  40000
Bedrooms :  3
Max Price of Flat :  677048
Min Price of Flat :  1551
Bedrooms :  4
Max Price of Flat :  884790
Min Price of Flat :  4897
Bedrooms :  5
Max Price of Flat :  760000
Min Price of Flat :  150000
Bedrooms :  6
Max Price of Flat :  830000
Min Price of Flat :  159900
Bedrooms :  8
Max Price of Flat :  282400
Min Price of Flat :  282400

3. On average, which is a costly city in respect of the prices of flats?

In [ ]:
city_avg_prices = df.groupby('city')['price'].mean()
most_expensive_city = city_avg_prices.idxmax()
print(f"The City with Highest Average Flat Price is {most_expensive_city}.")

The City with Highest Average Flat Price is GRANITE BAY.

4. Which flats are more costly? Residential or condo? What is the average price?

In [ ]:
grouped = df.groupby('type')

avg_prices = grouped['price'].mean()

print("Property Type\tAverage Price")
print("------------------------------")
print(avg_prices)

if avg_prices['Residential'] > avg_prices['Condo']:
    print("\nResidential flats are more costly.")
else:
    print("\nCondo flats are more costly.")

Property Type	Average Price
------------------------------
type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

Residential flats are more costly.

5. Do we need to take care of the missing values? Which feature will you look for?
Handle the missing values using at least 2 different methods.

In [ ]:
# Create a boolean dataframe indicating which cells have missing values
missing_values = df.isna()
# Count the number of missing values for each feature
missing_counts = missing_values.sum()
# Print the results
print("Features with missing values:")
print(missing_counts)

Features with missing values:
street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [ ]:
# Drop rows with missing values
df = df.dropna()

# Verify that there are no more missing values
print(df.isna().sum())

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [ ]:
mean_bathroom = df['baths'].mean()

# Fill missing values with the mean of the 'bathroom' feature
df['baths'] = df['baths'].fillna(mean_bathroom)

# Verify that there are no more missing values
print(df.isna().sum())

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64