<a href="https://colab.research.google.com/github/AmeyChavan-Org/Data_Mining/blob/main/flat_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/real.xlsx - real.csv')

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
display(df)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

1) Find out the maximum and minimum price of the flat.

In [ ]:
price=df['price']

Maximum price of the flat.

In [ ]:
price.max()

884790

minimum price of the flat.

In [ ]:
price.min()

1551

In [ ]:
flat=df.groupby('city')['price']
flat.head(1)

0       59222
8       94905
9       98937
17     116250
22     123000
25     126640
30     133000
33     138750
55     178760
58     181872
62     183200
71     200000
85     237800
102    265000
116    299000
132    352000
134    370500
135    372000
142    395000
190    142500
223    201000
224    202500
227    205000
242    230000
256    250000
302    380000
325    504000
334    839000
486    289000
543    506688
550    676200
686    194818
709    216033
757    275000
778    300000
820    380000
845    490000
866      2000
905    147000
Name: price, dtype: int64

In [ ]:
Q2=df.groupby('beds')['price']
Q2.mean()

beds
0    187585.046296
1    109646.200000
2    165428.300752
3    215612.915254
4    283260.093023
5    399541.542373
6    429966.666667
8    282400.000000
Name: price, dtype: float64

Q2.Find out the maximum and minimum price of the flats in each range, like 1
bedroom, 2 bedrooms and 3 bedrooms and so on.

In [ ]:
Q2=df.groupby('beds')['price']
Q2.max()

beds
0    680000
1    210944
2    575000
3    677048
4    884790
5    760000
6    830000
8    282400
Name: price, dtype: int64

In [ ]:
Q2=df.groupby('beds')['price']
Q2.min()

beds
0      4897
1     48000
2     40000
3      1551
4      4897
5    150000
6    159900
8    282400
Name: price, dtype: int64

3) On average, which is a costly city in respect of the prices of flats?

In [ ]:
Q3=df.groupby('city')['price']
Q3.max()

city
ANTELOPE           408431
AUBURN             560000
CAMERON PARK       425000
CARMICHAEL         668365
CITRUS HEIGHTS     305000
COOL               300000
DIAMOND SPRINGS    216033
EL DORADO          289000
EL DORADO HILLS    879000
ELK GROVE          510000
ELVERTA            140000
FAIR OAKS          680000
FOLSOM             636000
FORESTHILL         194818
GALT               420000
GARDEN VALLEY      490000
GOLD RIVER         528000
GRANITE BAY        760000
GREENWOOD          395000
LINCOLN            512000
LOOMIS             839000
MATHER             237800
MEADOW VISTA       230000
NORTH HIGHLANDS    224252
ORANGEVALE         475000
PENRYN             506688
PLACERVILLE        677048
POLLOCK PINES      280908
RANCHO CORDOVA     430000
RANCHO MURIETA     425000
RIO LINDA          300000
ROCKLIN            600000
ROSEVILLE          614000
SACRAMENTO         699000
SHINGLE SPRINGS    275000
SLOUGHHOUSE          2000
WALNUT GROVE       380000
WEST SACRAMENTO    200100
WILTON             884790
Name: price, dtype: int64

In [ ]:
Q3=(df.groupby('city')['price'].mean())
print(Q3)

city
ANTELOPE           232496.393939
AUBURN             405890.800000
CAMERON PARK       267944.444444
CARMICHAEL         295684.750000
CITRUS HEIGHTS     187114.914286
COOL               300000.000000
DIAMOND SPRINGS    216033.000000
EL DORADO          247000.000000
EL DORADO HILLS    491698.956522
ELK GROVE          271157.692982
ELVERTA            132866.000000
FAIR OAKS          303500.666667
FOLSOM             414960.176471
FORESTHILL         194818.000000
GALT               236943.428571
GARDEN VALLEY      490000.000000
GOLD RIVER         358000.000000
GRANITE BAY        678733.333333
GREENWOOD          395000.000000
LINCOLN             96539.263889
LOOMIS             567000.000000
MATHER             237800.000000
MEADOW VISTA       230000.000000
NORTH HIGHLANDS    135659.333333
ORANGEVALE         279159.545455
PENRYN             506688.000000
PLACERVILLE        363863.400000
POLLOCK PINES      240302.666667
RANCHO CORDOVA     263405.928571
RANCHO MURIETA     297750.000000
RIO LINDA          172727.615385
ROCKLIN            381835.823529
ROSEVILLE          324528.250000
SACRAMENTO         197735.988610
SHINGLE SPRINGS    275000.000000
SLOUGHHOUSE          2000.000000
WALNUT GROVE       380000.000000
WEST SACRAMENTO    170700.000000
WILTON             617508.400000
Name: price, dtype: float64

In [ ]:
print("hisgest average price:",Q3.idxmax())
print("The average price:",Q3.max())

hisgest average price: GRANITE BAY
The average price: 678733.3333333334

4) Which flats are more costly? Residential or condo? What is the average price?

In [ ]:
grouped = df.groupby('type')

avg_prices = grouped['price'].mean()

print("Property Type\tAverage Price")
print("------------------------------")
print(avg_prices)

if avg_prices['Residential'] > avg_prices['Condo']:
    print("\nResidential flats are more costly.")
else:
    print("\nCondo flats are more costly.")

Property Type	Average Price
------------------------------
type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

Residential flats are more costly.

**Do we need to take care of the missing values?**
-> yes ,because it can lead to mis-interpretation
 **Which feature will you look for?**
 -> dropna function will take care of it 
**Handle the missing values using at least 2 different methods.**
-> isnull will check is there any null value
dropna will delete the missing value using Any or All method

In [ ]:
df.isnull()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
980,False,False,False,False,False,False,False,False,False,False,False,False
981,False,False,False,False,False,False,False,False,False,False,False,False
982,False,False,False,False,False,False,False,False,False,False,False,False
983,False,False,False,False,False,False,False,False,False,False,False,False
984,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna().sum()

street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [ ]:
(df.beds==0).sum(), (df.baths==0).sum(),(df.sq__ft==0).sum(),(df.price==0).sum(),(df.latitude==0).sum(),(df.longitude==0).sum()

(108, 108, 171, 0, 0, 0)

In [ ]:
beds=df['baths']
beds.replace(to_replace=0,value=pd.NA,inplace=True)
c1=(df['baths']==0).sum()
print('zero Values of bathrooms',c1)

zero Values of bathrooms 0

In [ ]:
df.isna().values.any()

True

In [ ]:
sqfoot=df['sq__ft']
sqfoot.replace(to_replace=0,value=sqfoot.mean(),inplace=True)
c2=(df['sq__ft']==0).sum()
print('zero Values of sq_ft',c2)

zero Values of sq_ft 0